body {
    font-family: 'Magnolia Script', cursive;
    margin: 0;
    padding: 0;
    background: linear-gradient(to right, #fce1bc, #fcb69f, #fdb2d7, #ffcef3);
    color: #333;
  }
  
  nav ul {
    list-style-type: none;
    margin: 20px;
    
    overflow: hidden;
    text-align: right;
  }
  
  nav ul li {
    display: inline;
    margin: 0 15px;
  }
  
  nav ul li a {
    text-decoration: none;
    color: #000;
    font-size: 1.9em;
    font-weight: bold;
  }
  
  nav ul li a:hover,
  nav ul li a.active {
    text-decoration: underline;
  }
  
  #home {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1200px;
    margin: auto;
    height: calc(100vh - 70px); /* Adjust height according to your needs */
  }
  
  .intro {
    flex: 1;
    margin-left: 200px;
  }
  
  .intro h1 {
    font-size: 68px;
    font-weight: bold;
    margin: 0;
    line-height: 1.2;
    color: #333;
  }
  
  .profile-pic {
    flex: 1;
    display: flex;
    justify-content: right;
    margin-right: 50px;
  }
  
  .profile-pic img {
    width: 300px;
    height: auto;
    border-radius: 15px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  

  
  
  
  
  
  
  
  
  
  